<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

    <div class="outer">
        <h1><a >unilinks</a></h1>
        {% block content %}
            <p>Default content to be displayed</p>
        {% endblock content %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>