{% extends "base.html" %}

{% block content %}
        
        <div class="col-md-4 col-sm-4 col-xs-4">
        {% for n in range(1,7) %}
            <div class="panel-heading">
                <h3 class="panel-title">{{ n }}. Semester</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% for item in data %}
                        {% if n in item["semester"] %}
                            <a class="list-group-item" href="#cont" target="blank" onclick="$('.active').addClass('hidden').removeClass('active');$('#{{ item["modul"] }}').addClass('active').removeClass('hidden');">
                                {{ item["name"] }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>

        <div id="cont" class="col-md-8 col-md-8 col-xs-8">
            <div id="pHead" class="panel-heading">
                <h3 class="panel-title">Lehrveranstalltungsinformationen:</h3>
            </div>
            <div id="placeholder" class="panel panel-default active">
                  <div class="panel-heading"><h3>Kein Modul ausgewählt.</h3></div>
                  <div class="panel-body">
                        Klicke auf eines der Fächer am linken Rand um Inforrmationen, Links und Downloads dazu aufrufen zu können.
                  </div>
            </div>
            {% for item in data %}  
                <div id={{ item["modul"] }} class="panel panel-default hidden">
                  <div class="panel-heading"><h3>{{ item["name"] }}</h3></div>
                  <div class="panel-body">
                    <h4>Allgemein:</h4>
                        <dl>          
                            <dt>Credits: </dt>
                            <dd>{{ item["credits"] }}</dd>
                            <dt>Modul: </dt>
                            <dd>{{ item["modul"] }}</dd>
                            <dt>Links: </dt>
                            <dd>
                                {% for key, value in item["url"].items() %}
                                    <a href='{{ value }}' target='blank'>{{ key }}</a><br>
                                {% endfor %}
                            </dd>
                        </dl>
                    <h4>Dateien</h4>
                        {% for key, value in item["files"].items() %}
                            <dl>                            
                                <dt>{{ key }}</dt>
                                <dd>
                                    {% for link in value %}
                                        <a href='data/et/{{ item["name"] }}/{{ key }}/{{ link }}' target='blank'>{{ link }}</a><br>
                                    {% endfor %}
                                </dd>
                            </dl>
                        {% endfor %}
                  </div>
                </div>
            {% endfor %}
        </div>

{% endblock content %}